.Home
    padding-top: 50%

    >div:first-child

        svg
            display: block
            height: 100%
            margin: auto

    .footer
        text-align: center
        position: absolute
        bottom: 1rem
        width: 100%
