.Home
    height: 100%
    padding-top: 50%

    >div:first-child
        height: 50%

        svg
            display: block
            height: 100%
            margin: auto

    >div:nth-child(2)
        padding-top: 25%
        text-align: center
